{% extends "base_appointment.html" %}

{% block content %}

<div>
    <p><h1>可参加的预约</h1></p>
    <a href="{% url 'appointment:manage_appointment' %}">>> 查看我发起的预约状态</a>

    {% if appointments %}
    <table>
        <tr>
            <th scope="row">预约时间</th>
            <th scope="row">预约状态</th>
            <th scope="row">预约创建人</th>
        </tr>
        {% for appointment in appointments %}
        <tr>
            <td><span>{{ appointment.appointment_time }}</span></td>
            <td>
                {% if appointment.appointment_information %}
                <span>{{ appointment.get_state_display }}</span>
                {% else %}
                <span>{{ appointment.get_state_display }}| </span>
                <a href="{% url 'appointment:appointment_info_edit' appointment.id %}">预约Ta</a>
                {% endif %}
            </td>
            <td><span><b>{{ appointment.appointment_maker }}</b><span></td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
</div>

{% endblock %}